@model List<GuzelSoz>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex align-items-end mt-5">
        <h1 class="mr-auto">Güzel Sözler</h1>
        <label>
            <input type="checkbox" value="" id="" /> Sadece Beğendiklerimi Göster
        </label>
    </div>
    <div>
        @foreach (var item in Model)
        {
            bool begenildi = User.Identity.IsAuthenticated
                && item.Begenenler.Any(x => x.KullaniciId == User.GetUserId());
            <div class="card mb-3">
                <div class="card-body d-flex align-items-center">
                    <div>
                        <p class="mb-1">
                            @item.Soz
                        </p>
                        <div class="small text-secondary">
                            <span data-begeni-adet-id="@item.Id">@item.Begenenler.Count</span> kişi bunu beğendi.
                        </div>
                    </div>
                    <a href="#" class="btn btn-outline-danger ml-auto"
                       title="@BegenTitle(begenildi)" data-begen-id="@item.Id" data-begenildi="@begenildi.ToString().ToLower()" data-toggle="tooltip">
                        <i class="@(begenildi ? "fas" : "far") fa-heart"></i>
                    </a>
                </div>
            </div>
        }
    </div>

</div>

@section scripts {
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        var girisYapildi = @User.Identity.IsAuthenticated.ToString().ToLower();

        if (girisYapildi) {
            $("[data-begen-id]").click(function (event) {
                event.preventDefault();
                var a = this;
                var id = $(a).data("begen-id");
                var begenildiMi = !$(a).data("begenildi");
                var spanBegeniAdet = $('span[data-begeni-adet-id="' + id + '"]');
                var begeniAdet = Number(spanBegeniAdet.text());
                $.ajax({
                    type: "post",
                    url: "@Url.Action("BegeniDurumunuGuncelle", "Home")",
                    data: { id: id, begenildiMi: begenildiMi },
                    success: function (data) {
                        $(a).data("begenildi", begenildiMi);
                        if (begenildiMi) {
                            $(a).children("i").first().removeClass("far").addClass("fas");
                            $(a).attr("title", "Beğeniyi Kaldır");
                            spanBegeniAdet.text(begeniAdet + 1);
                        }
                        else {
                            $(a).children("i").first().removeClass("fas").addClass("far");
                            $(a).attr("title", "Beğen");
                            spanBegeniAdet.text(begeniAdet - 1);
                        }
                        $(a).tooltip("dispose");
                        $(a).tooltip();
                    }
                });
            });
        }

    </script>
}

@{ 
    string BegenTitle(bool begenildiMi = false)
    {
        if (!User.Identity.IsAuthenticated)
            return "Beğenmek için giriş yapmanız gerekmektedir.";

        return begenildiMi ? "Beğeniyi Kaldır" : "Beğen";
    }
}